# Entorno virtual
.venv/
venv/

# Base de datos local
datos/
*.sqlite3
*.db

# Configuracion sensible
.env

# Archivos generados por Python
__pycache__/
*.pyc

# Editor / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
